.actionCard{
    /* background: linear-gradient(126.7deg,#4eaaaa 40.7%,#547979) !important; */

    background: transparent !important;
    backdrop-filter: blur(2px) !important;
    /* height: 250px !important;
    width: 600px !important; */
    border-radius: 15px !important;
    border: 1px solid rgba(77, 77, 77, 0.568) !important;
}
.cardTitle{
    display: flex !important;
    justify-content: center !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    color: #ffff !important;
    margin-bottom: 8px !important;
}
.cardText{
    display: flex !important;
    justify-content: center !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #ffffff !important;
    margin-bottom: 20px !important;
}
.cardButton{
    display: flex !important;
    justify-content: center !important;
    width: 137px !important;
    height: 42px !important;
    color: #fff !important;
    border-radius: 12px !important;
    background: linear-gradient(126.7deg,#057a7a 40.7%,#0d3b3b) !important;
    padding: 12px  !important;
    text-transform: capitalize !important;
    opacity: .9;
    backdrop-filter: blur(6px) !important;
    
}
@media (max-width: 600px){
.actionCard{
    max-width: 400px !important;

}
}